<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <div class="display-1">money-transfer-service</div>
    <hr/>
    <a href="transfer">
        <button class="btn btn-primary">Transfer</button>
    </a>
    <hr/>

    <div class="row">
        <div class="col-6">
            <h2>Transfer Status</h2>
            <hr/>
            <p>Status: <span th:text="${transferResponse.status}"></span></p>
            <p>From Account: <span th:text="${transferResponse.fromAccountNumber}"></span></p>
            <p>To Account: <span th:text="${transferResponse.toAccountNumber}"></span></p>
            <p>Amount: <span th:text="${transferResponse.amount}"></span></p>
            <p>Transfer ID: <span th:text="${transferResponse.transactionId}"></span></p>
        </div>

</div>



</body>
</html>