<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <div class="display-1">money-transfer-service</div>
    <hr/>
    <a href="transfer">
        <button class="btn btn-primary">Transfer</button>
    </a>
    <hr/>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Transfer Form</div>
                <div class="card-body">
                    <form action="transfer" method="post">
                        <div class="mb-3">
                            <label for="fromAccount" class="form-label">From Account</label>
                            <input type="text" class="form-control" id="fromAccount" name="fromAccountNumber" required>
                        </div>
                        <div class="mb-3">
                            <label for="toAccount" class="form-label">To Account</label>
                            <input type="text" class="form-control" id="toAccount" name="toAccountNumber" required>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>